@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}
.wishlist-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content {
    padding: 10px;
}

h2 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.sizes {
    margin: 10px 0;
}

.sizes span {
    display: inline-block;
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
}
.sizes .active {
    background: #ff9800;
    color: #fff;
}

p {
    font-size: 14px;
    color: #666;
}

.price-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.cart-btn {
    background: #ff9800;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cart-btn:hover {
    background: #e68a00;
}
