body {
    background-color: rgba(246, 255, 0, 0.728);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.headphone {
    position: relative;
    width: 120px;
    height: 160px;
}

.band {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80px;
    height: 100px;
    border: 15px solid #375488;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    transform: translateX(-50%);
}

.ear {
    position:absolute;
    width: 50px;
    height: 60px;
    background-color: #375488;
    border-radius: 20px;
}

.left {
    left: 0;
    bottom: 0;
}

.right {
    right: 0;
    bottom: 0;
}
