
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mango {
    width: 200px;
    height: 250px;
    background: linear-gradient(to bottom,#ff8c00, #ffcc00);
    border-radius: 60% 40% 60% 40%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    clip-path: ellipse();
}

.highlight {
    width: 20px;
    height: 80px;
    background: rgba(255, 255, 255, 0.882);
    position: absolute;
    top: 50px;
    left: 40px;
    border-radius: 50%;
    transform: rotate(25deg);
    opacity: 0.8;
}

.leaf {
    width: 100px;
    height: 50px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 10px;
    transform: rotate(-20deg);
}

.stem {
    width: 20px;
    height: 30px;
    background: brown;
    position: absolute;
    top: -15px;
    left: 90px;
    border-radius: 10px;
}
